.snowden-page{
    min-height: 100vh;
    background-color: #f1efec;
    padding:1em;
}

.snowden-grid-wrapper{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(15, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.red{
    grid-area: 1 / 1 / 4 / 4;;
    background-image: url('/src/assets/snowden/jr_snowdencomp_purple.jpg');
    background-size: cover;
}

.blue{
    grid-area: 1 / 4 / 4 / 7;
    background-image: url('/src/assets/snowden/snowden_reid_strings\ side.jpg');
    background-size: cover;
    
}
.pink{
    grid-area: 1 / 7 / 4 / 11;
    background-color: #f1efec;
    font-family: 'Heebo', sans-serif;
    font-size: 1.2em;
    padding:1em;
    z-index: 1;
}
.green{
    grid-area: 4 / 1 / 7 / 4;
    background-color: #f1efec;
    font-family: 'Heebo', sans-serif;
    font-size: 1em;
    padding:1em;
    z-index: 1;
   
}
.orange{
    grid-area: 4 / 4 / 7 / 8; 
    background-image: url('/src/assets/snowden/Culturele-Zondag-Uitfeest-2015--Jelmer-de-Haas_1_1000.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}
.yellow{
    grid-area: 4 / 8 / 7 / 11;
    background-color: #121212;
    font-family: 'Heebo', sans-serif;
    font-size: 1.3em;
    color: #f1efec;
    padding:1em;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.yellow > ul{
    list-style: none;
  

}
.purple{
    grid-area: 7 / 1 / 10 / 5;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url('/src/assets/snowden/Culturele-Zondag-Uitfeest-2015--Jelmer-de-Haas_1_1000.jpg');
    background-size: cover;
    

}
.sky-blue{
    grid-area: 7 / 1 / 10 / 5; 
    font-family: 'Heebo', sans-serif;
    font-size: 1em;
    padding:1em;
   
}
.lime{
    grid-area: 7 / 5 / 10 / 11; 
    display:flex;
    justify-content: center;
    align-items: center;
    /* background-image: url('/src/assets/snowden/Requiem\ 21_Credit\ Alex\ Woodward.jpg');
    background-size: cover; */
    background-color: rgb(-0 -0 1);
   
}
.beige{
    grid-area: 10 / 1 / 13 / 3; 
    /* background-image: url('/src/assets/snowden/MatthewCollings_ARequiemForEdwardSnowden.jpg');
    background-size: cover; */
}
.black{
    grid-area: 10 / 3 / 13 / 6;
    background-image: url('/src/assets/images/creative_scotland.png');
    background-size: contain;
    background-repeat: no-repeat; 
    display:flex;
    justify-content: center;
    align-items: flex-end;  
    font-family: 'Heebo', sans-serif;
    font-size: 1em;
    padding:1em; 
}

.white{
     grid-area: 10 / 6 / 13 / 11; 
    background-image: url('/src/assets/snowden/Requiem\ 21_Credit\ Alex\ Woodward.jpg');
    background-size: cover;
}
.brown{
    grid-area: 13 / 1 / 16 / 5;
    background-image: url('/src/assets/snowden/Requiem\ 21_Credit\ Alex\ Woodward.jpg');
    background-size: cover;
}
.marine{
    grid-area: 13 / 5 / 16 / 8;
    background-image: url('/src/assets/snowden/Requiem\ 21_Credit\ Alex\ Woodward.jpg');
    background-size: cover;
}
.burgundy{
    grid-area: 13 / 8 / 16 / 11; 
    background-color: #121212;
    font-family: 'Heebo', sans-serif;
    font-size: 1.3em;
    color: #f1efec;
    padding:1em;
    display:flex;
    justify-content: center;
    align-items: center;
}

.burgundy > ul{
    list-style: none;
}


