.snowden-page{
    min-height: 100vh;
    background-color: #f1efec;
    padding:1em;
}

.snowden-grid-wrapper{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;

}














.red{
    grid-area: 1 / 1 / 4 / 4;;
    background-image: url('/src/assets/snowden/jr_snowdencomp_purple.jpg');
    background-size: cover;
    /* width:100%;
    height:400px; */
 
}
.blue{
    grid-area: 1 / 4 / 4 / 7;
    background-image: url('/src/assets/snowden/snowden_reid_strings\ side.jpg');
    background-size: cover;
    /* width:300px;
    height:300px; */
}
.pink{
    grid-area: 1 / 7 / 4 / 11;
    /* background-color: pink; */
    font-family: 'Heebo', sans-serif;
    font-size: 1.2em;
    padding:1em;
    /* width:300px;
    height:300px; */
}
.green{
    grid-area: 4 / 1 / 7 / 4;
    font-family: 'Heebo', sans-serif;
    font-size: 1em;
    padding:1em;
    /* background-color: green; */
    /* width:300px;
    height:300px; */
}
.orange{
    grid-area: 4 / 4 / 7 / 8; 
    background-image: url('/src/assets/snowden/MatthewCollings_ARequiemForEdwardSnowden.jpg');
    background-size: cover;
    background-repeat: no-repeat;
   
    /* background-color: orange; */
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
}
.yellow{
    grid-area: 4 / 8 / 7 / 11;
    background-image: url('/src/assets/snowden/MatthewCollings_by_NatUrazmetova.jpg');
    background-size: cover;
    background-color: yellow;
  
    /* width:100%;
    height:300px; */
}
.purple{
    grid-area: 7 / 1 / 10 / 5;
    background-image: url('/src/assets/snowden/Culturele-Zondag-Uitfeest-2015--Jelmer-de-Haas_1_1000.jpg');
    background-size: cover;
    background-color: purple;
    /* width:300px;
    height:300px; */
}
.sky-blue{
    grid-area: 7 / 5 / 10 / 7; 
    font-family: 'Heebo', sans-serif;
    font-size: 1em;
    padding:1em;
    /* background-color: skyblue; */
    /* width:300px;
    height:300px; */
}
.lime{
    grid-area: 7 / 7 / 10 / 11; 
    background-image: url('/src/assets/snowden/Requiem\ 21_Credit\ Alex\ Woodward.jpg');
    background-size: cover;
    /* width:300px;
    height:300px; */
}
.beige{
    grid-area: 10 / 1 / 13 / 3; 

    background-image: url('/src/assets/snowden/Requiem\ 21_Credit\ Alex\ Woodward.jpg');
    background-size: cover;
    /* width:300px;
    height:300px; */
}
.black{
    grid-area: 10 / 3 / 13 / 6; 

    background-image: url('/src/assets/snowden/Requiem\ 21_Credit\ Alex\ Woodward.jpg');
    background-size: cover;
    /* width:300px;
    height:300px; */
}
.white{
     grid-area: 10 / 6 / 13 / 11; 
    background-image: url('/src/assets/snowden/Requiem\ 21_Credit\ Alex\ Woodward.jpg');
    background-size: cover;
    /* width:300px;
    height:300px; */
}

.text-test{
    
}
