

.contact-page{
    background-color: #f1efec;
    padding: 1em;
    min-height: 70vh;
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding: 16em 0 0 0;
    border-right: 1px solid #121212;
    
}

.contact-page-wrapper{
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto;
    grid-template-areas: 
    "general  booking "
    ;
}

.contact-container-general{
    grid-area: general;
    border-top: 1px solid #121212;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;  

}

.contact-container-booking{
    grid-area: booking;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 1em;
    border-bottom: 1px solid #121212;
    
}


.contact-page-text{
   font-size: 2rem;
   letter-spacing: 0.2em; 
   
}



.contact-page-email{
    color: #CA5E48;
    font-family: 'Heebo', sans-serif;
}
