/* contact sections go here */

.contactpage-section-one{
    background-color: #ddd;
    min-height: 100vh;
    
}

/* div styling here */



.contact-div-one {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background-color: #ddd;
    min-height: 40vh; 
   
}
    

.contact-div-two{
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #5C5D57;
    
}



/* text styling goes here */

#contact-text-one{
   
    position: relative;
    font-family: 'Familjen Grotesk', sans-serif;
    color: #D5C3A7;
    font-size: 5rem;
    line-height: 0.9em;
    width: calc(100% - 150px);
    letter-spacing: -0.03em;

}







