.bio-page-section {
    min-height: 100vh;
    background-color:#f1efec;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;    
}

.bio-div-outer{
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
    border-left: 1px solid black;

}

.bio-div-inner{
    width: 500px;
    height: 700px;
    background-color: pink;
    background-size: cover;

}

.bio-text-container{
    display: flex;
    background-color: #f1efec;
    justify-content:center;
    align-items: flex-start;
    width: 500px;
    height: 700px;  
    z-index: 1; 

}




