.bio-page-section {
    min-height: 100vh;
    background-color:#f1efec;
    padding: 0 0 1em 0;
}

/*  */

.bio-container{
    display:flex;
    justify-content: space-evenly;  
}

.portrait-img-container{
    background-image: url('/src/assets/thirdmind/matt_tweak_01.jpg');
    background-size: cover;
    
    width:500px;
    height:500px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Heebo', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.06em;
    padding: 1em;
    text-align: center;
    
}

.portrait-text-container{
    background-color: #f1efec;
    width:500px;
    height:500px;
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-family: 'Heebo', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.06em;
    padding: 1em;

    
    
}











