
.h1-container{
    min-height: 20vh;
    background-color:#f1efec;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 0 0 1.8em;
}

.h1-text{
    font-family: 'Familjen Grotesk', sans-serif;
    font-size: 4rem;
    letter-spacing: 0.6em;
    position:fixed;
    color: #f1efec;
    mix-blend-mode: difference;
    white-space: none; 

}