.navbar{
    padding:0px;
    margin:0px; 
    width:100%; 
    position:fixed;
    z-index:50;
   
   
}


.navbar-container {
    display:flex;
    justify-content: space-between;
    padding: 1em;
    margin: 1em 0em 0em 0em;

}

.navbar-links, .work-links{
    color: #121212;
    mix-blend-mode: difference;
    font-size: 1em;
    list-style: none;
    text-decoration: none;
    font-family: 'Heebo', sans-serif;
    font-weight: 600;
    text-transform: uppercase ;

}

#home-link{
    color:#121212;
    font-size: 1.1em;
    list-style: none;
    text-decoration: none;
    font-family: 'Heebo', sans-serif;
    font-weight: 600;
    text-transform: uppercase ;
}








