.navbar-container {
    display:flex;
    justify-content: flex-end;
    gap:1em;
    padding: 5em 1em 1em 0em;
    background-color:#ddd;
   
}

.navbar-links{
    color:#121212;
    font-size: 1em;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}

#home-link{
    color:#121212;
    font-size: 1em;
    list-style: none;
    text-decoration: none;
    cursor: pointer;

}