.footer-section {
    background-color:  #f1efec;
    min-height: 20vh;
    color: #CA5E48;
    font-family: 'Heebo', sans-serif;
}

.footer-div{
    display:flex;
    justify-content: space-between;
    align-items: center; 
    padding: 2em ;
    
}
