.footer-section {
    background-color: #D5C3A7;
    min-height: 20vh;
    
}

.footer-div{
    display:flex;
    justify-content: space-between;
    align-items: center; 
     padding: 3em 0 0 0;
    
}
