.footer-section {
    background-color:  #f1efec;
    /* min-height: 20vh; */
    color: #CA5E48;
    font-family: 'Heebo', sans-serif;
    display:flex;
    justify-content: space-between;
    align-items: bottom;
    padding: 1em 1em 0em 1em ;
  
 
   
}

.footer-div-right , .footer-div-left{
    display: flex;
    align-items: center;
    margin: 0 0 1em 0; 

}


/* MEDIA QUERIES */

