
/* textured image section here */


.textured-img-section{
    background-color: #f1efec;
    padding:0 1em 1em;
}

.textured-img-container{
    min-height: 100vh;
    background-image: url('/src/assets/images/texturehorizontal.jpeg')  ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center; 
}

.parallax-img-section{
    background-image: url('/src/assets/thirdmind/foley_scrape_bw_02.jpg')  ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    background-repeat:no-repeat; 
    min-height: 100vh;
    background-attachment: fixed;
    
}

/* social grid section here */

.socials-section{
    background-color: #f1efec;
    font-size: 2rem;
    letter-spacing: 0.2em;
    padding:1em;   
}

.socials-grid-wrapper{
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: auto;
    grid-template-areas: 
    
    "spotify bandcamp twitter instagram"
    ;
}

.socials-text{
    font-family: 'Heebo', sans-serif;
    font-size: 2rem;
    letter-spacing: 0.2em; 

}

.div-spotify{
    grid-area: spotify;
    border-bottom:1px solid #121212; 
    background-color: #f1efec;
    display: flex;
    justify-content: center;
    z-index: 1;
}
.div-bandcamp{
    grid-area: bandcamp;
    border-right:1px solid#121212;
    background-color: #f1efec;
    display: flex;
    justify-content: center;
    z-index: 1;
}
.div-twitter{
    grid-area: twitter;
    background-color: #f1efec;
    display: flex;
    justify-content: center;
    z-index: 1;
}
.div-instagram{
    grid-area: instagram;
    border-top:1px solid #121212;
    background-color: #f1efec;
    display: flex;
    justify-content: center;
    z-index: 1;
}

