/* title section here */

.title-section{
    min-height:100vh;
    background-color: #f1efec; 
    margin:0;
}

.artists-name-container{
    background-color:  #f1efec;
    display: flex;
    justify-content: center;
    align-items: center;  
    min-height: 8vh;
    padding:0 0 2em 2em;
}


#artists-name{
    position:fixed;
    font-size: 6rem;
    color:#f1efec;
    mix-blend-mode:difference;
    letter-spacing: 0.25em; 
}


.texture-img-container{
    min-height: 100vh;
    background-image: url('/src/assets/images/texturehorizontal.jpeg') ;
    background-size: cover;
    margin:1em;
    display:flex;
    justify-content: center; 
}


/* short-bio-section */

.short-bio-section{
    background-color: #f1efec; 
}

.texture-img-container2{
    min-height: 100vh;
    background-image: url('/src/assets/images/texturehorizontalflipped.jpeg') ;
    background-size: cover;
    margin:1em;
    display:flex;
    justify-content: flex-start; 
    align-items: center;
}

.short-bio-text{
    font-size: 5em;
    color: #f1efec;
    mix-blend-mode: screen;
    display:flex;
    justify-content: center;
}











