
/* homepage sections here */


.homepage-section-one{
    background-image: url('/src/assets/images/texturehorizontal.jpeg')  ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    background-repeat:no-repeat; 
    min-height: 100vh;
    background-attachment: fixed; 
}

.homepage-section-two{
    min-height: 50vh; 
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #A3A09B;
}

.homepage-section-three{
    background-color: #A3A09B;
    
}

.homepage-section-four{
    background-image: url('/src/assets/thirdmind/foley_scrape_bw_02.jpg')  ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    background-repeat:no-repeat; 
    min-height: 100vh;
    background-attachment: fixed; 
}



.homepage-section-five{
    display:flex;
    justify-content: center;;
    
    min-height: 10vh;
    background-color: #F1F3F4;

}
.homepage-section-six{
    
    min-height: 100vh;
    background-color: #D5C3A7;

}





.letter-section-div-one{
    display:flex;
    justify-content: left;
    align-items: center; 
    font-family: 'Heebo', sans-serif;
    color: #D5C3A7;
    
}

.letter-section-div-two{
    position: relative;
    padding-top:5em;
    
    
}


.letter-section-fullname  {
    display:flex;
    
    white-space: nowrap;
    font-size: 8em;
    line-height: 6vh;
    letter-spacing: 0.01em
}



/* styling for individual letters */

.letter-section-firstname {
    display:flex;
    
    white-space: nowrap;
    font-size: 8em;
    line-height: 6vh;
    letter-spacing: 0.01em;
    
}


.letter-section-lastname{
    display:flex; 
    
    white-space: nowrap;
    font-size: 9em;
    letter-spacing: 0.01em;
    
}

/* image styling here */


.img-container-guitar{
    display:flex;
    justify-content: center;
    align-items: center; 
}

.matt-jag-spotlight-img{
    max-width: 100vh;
    min-height: 100vh;       
}



/* letter matthew styling here */

.letter-m{
    color: #D5C3A7;
   
}

.letter-a{
    color: #D5C3A7; 
    
}

.letter-t{
    color: #D5C3A7; 
   
}

.letter-tt{
    color: #D5C3A7;
}

.letter-h{
    color: #D5C3A7;
}

.letter-e{
    color: #D5C3A7; 
}

.letter-w{
    color: #D5C3A7;
}

/* letter collings styling here */

.letter-c{
    color:  #D5C3A7;
}

.letter-o{
    color:  #D5C3A7;  
}

.letter-l{
    color:  #D5C3A7;  
}

.letter-ll{
    color:  #D5C3A7;
}

.letter-i{
    color:  #D5C3A7;

}

.letter-n{
    color:  #D5C3A7;
        
}

.letter-g{
    color:  #D5C3A7;
   
}

.letter-s{
    color:  #D5C3A7;
 
}


/* animations here */

  @keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-20px);
    }
  }

   /* animation:
    bounce 2000ms
    alternate infinite
    cubic-bezier(.2, .65, .6, 1); */


  @keyframes movein {
    0% {
      transform: translateX(90vw)
    }
    100% {
      transform: translateX(-150vw)
    }
  }

    /* animation-name: movein;
    display: inline-block;
    transform: translateX(-100%);  */
    /* animation-duration: 20s;
    
    animation-iteration-count: infinite;
    /* filter: hue-rotate(130deg) contrast(30%) brightness(120%); */
 


/* text styling here */








  