


.press-text-container{
    min-height:50vh;

    /* background-color: #beb; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Heebo', sans-serif;
    font-size: 1.5rem;
    color: #CA5E48;
    letter-spacing: 0.06em;
    padding: 4em;
    
   
}

