* {
    cursor:none;
    
}

.cursor{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #fff;
    position: fixed;
    top:0;
    bottom:0;
    pointer-events: none;  
    z-index: 1;
}